{
  "presets": [
    /*
      tree shaking.
    */
    [
      "env",
      {
        "modules": false
      }
    ],
    // "env",
    "react",
    "stage-0"
  ],
	"plugins": [
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}]
	]
}